<!--TODO rename to type_github -->
<div class="header">
    {{#if title includeZero=true}}
        <h1 class="title">{{title}}</h1>
    {{/if}}
    <div class="menu">
        {{#each menu}}
            {{#if this.class}}
                <a class="button {{this.class}}" href="/vizchange-animation{{this.href}}">{{this.text}}</a>
            {{else}}
                <a class="button" href="/vizchange-animation{{this.href}}">{{this.text}}</a>
            {{/if}}
        {{/each}}
    </div>
</div>
<div class="captions">
    {{#each text}}
        {{#if text includeZero=true}}
            {{#if this.class includeZero=true}}
            <p class="{{this.class}}" id={{this.id}}>
            {{else}}
            <p class="caption-left" id={{this.id}}>
            {{/if}}
            <strong>
                {{this.header}}
            </strong>
            {{#if this.header includeZero=true}}
                <br>
            {{/if}}
            {{this.text}}
        </p>
        {{/if}}
    {{/each}}
</div>