
{{#each files}}
    {{#if this.plot includeZero=true}}
        <div id="{{this.id}}" class="plot">
            <div class="{{this.class}}">{{this.station}}</div>
        </div>
    {{else}}
        <image class="image-block {{this.level}}" id={{this.id}} src=/vizchange-animation{{this.file}}></image>
    {{/if}}
{{/each}}