{{#each files}}
    {{#if this.plot includeZero=true}}
        <div id="{{this.id}}" class="plot">
            <div class="{{this.class}}">{{this.station}}</div>
        </div>
    {{else}}
        {{#if this.clickable}}
            <image class="image-block {{this.level}} {{this.class}}" style="z-index: {{this.level}}" id={{this.id}} src="/vizchange-animation{{this.file}}" usemap="#map_{{this.id}}"></image>
            <map name="map_{{this.id}}">
                {{#each this.clickable}}
                    <area class="menu_button" id="{{this.id}}" shape="rect" coords={{this.coords}} href="#">
                {{/each}}
            </map>
        {{else}}
            <image class="image-block {{this.level}} {{this.class}}" style="z-index: {{this.level}}" id={{this.id}} src="/vizchange-animation{{this.file}}"></image>
        {{/if}}
    {{/if}}
{{/each}}