
{{#if title includeZero=true}}
    <div class="header">
        <h1 class="title">{{title}}</h1>
        <div class="menu">
            {{#each menu}}
                <a class="button" href="{{this.href}}">{{this.text}}</a>
            {{/each}}
        </div>
    </div>
{{/if}}
<div class="captions">
    {{#each text}}
        {{#if text includeZero=true}}
            <p class="caption">
                <strong>
                    {{this.header}}
                </strong>
                <br>
                {{this.text}}
            </p>
        {{/if}}
    {{/each}}
</div>