<!-- extends default--><!DOCTYPE html>
<html>
    {{> head this}}
	<body>
    {{> script this}}
    {{#each acts}}
        {{#each this.audio}}
            <audio id="{{this.id}}" src="/vizchange-animation{{this.src}}" type="audio/mpeg" controls autoplay></audio>
        {{/each}}
        <div class="content" id={{this.id}}>
            {{#each this.scens}}
                <div id={{this.id}} class="segment">
                    {{> github_segment parameters=this}}
                </div>
            {{/each}}
            {{#if next.redirect includeZero=true}}
                <div id="foter" class="segment">
                    <div class="fotnote">
                        {{#each next.redirect}}
                            <a class="button" href="/vizchange-animation{{this.href}}">{{this.text}}</a>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
            {{#each this.resources}}
                <div class="image-container">
                    {{> github_resources parameters=this }}
                </div>
            {{/each}}
        </div>
    {{/each}}
    {{> margin}}
	</body>
    {{> footer this}}
</html>
